a {
    text-decoration:none;
    color:white; 
    font-size: 30px;  
 }

 h1 {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 64px;
}

p {
    color:white;
    text-align: center;
    font-size: 30px;
    font-style:italic;
}

body {

    background-size:100%;
    background-repeat: repeat-y;
    height:100%;
    width:100%;
}

ul {
    font-size: 25px;
    color: rgb(131, 47, 47);
    font-weight: bold;
    font-style: italic;

}

ol{
    font-size: 25px;
    color: rgb(131, 47, 47);
    font-weight: bold;
    font-style: italic;
}

li {
    font-size: 20px;
    color: brown;
    font-weight: 100;
    font-style: normal;

}