a {
    text-decoration:none;
    color:white; 
    font-size: 30px;  
 }

 h1 {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 64px;
}

p {
    color:white;
    text-align: center;
    font-size: 30px;
    font-style:italic;
}

body {

    background-size:100%;
    background-repeat: repeat-y;
    height:100%;
    width:100%;
}