a {
    text-decoration:none;
    color:white; 
    font-size: 30px;  
 }

 h1 {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 64px;
}

p {
    color:white;
    text-align: center;
    font-size: 35px;
    font-style:italic;
}